body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td, hr, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin:0;
    padding:0
}
ol, ul, li {
    list-style-type:none;
}
input {
    border: none;
    background: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a, a:hover {
    text-decoration:none;
    color:#000
}
body {
    margin:0 auto;
    overflow-x:hidden;
}
body {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    word-wrap:break-word;
    word-break:break-all;
    font-family: "YaHei", arial, sans-serif;
    color:#000;
    background:#fff
}
#main_panel {
    width:100%;
    height: 700px;
    background-color: #77bc71;
}
.left {
    width:30%;
    height:100%;
    float:left;
    background-color: #3b5a82;
}
.right {
    width:70%;
    height:100%;
    float:left;
    background-color: #9cc9e9;
 }

.icon_add {
    background-image: url('./images/icons/fam/add.png');
}

.icon_modify {
    background-image: url('./images/icons/fam/page_white_edit.png');
}